
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background-color: #f8f8f8;
    padding: 10px 0;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    max-width: 100px;
    height: auto;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

nav ul li a:hover, nav ul li a.active {
    color: #007BFF;
}

.content-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.side-image {
    flex: 1 1 100%;
    text-align: center;
    margin-bottom: 20px;
}

.side-image img {
    max-width: 80%;
    height: auto;
}

.main-content {
    flex: 3 1 100%;
    text-align: center;
}

.product-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-images a {
    margin: 10px;
    text-align: center;
}

.product-images img {
    max-width: 150px;
    height: auto;
    border: 2px solid transparent;
    transition: all 0.3s ease;
}

.product-images img:hover {
    border: 2px solid red;
}

.category-name {
    margin-top: 5px;
    padding: 5px;
    background-color: #007BFF;
    color: white;
    display: inline-block;
    border-radius: 5px;
}

footer {
    background-color: #FF4500;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

.contact-info {
    background-color: green;
    padding: 10px;
    display: inline-block;
    border-radius: 5px;
}

@media (min-width: 768px) {
    .content-wrapper {
        flex-direction: row;
    }
    .side-image {
        flex: 1;
        text-align: left;
        margin-right: 20px;
        margin-bottom: 0;
    }
    .main-content {
        flex: 3;
    }
}
